@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

* {
  background-color: #252440;
  text-align: center;
  justify-content: justify;
}

.App {
  
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.texto {
  font-family: "Special Elite", cursive;
  font-size: 90px;
  width: 2000px;
  margin-top: 440px;
}

.image{
  width: 100px;
  height: 100px;
}